/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #444;
  }
  
  .carousel {
    position: relative;
    width: 80%;
    max-width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px; /* Ajoute un effet 3D */
  }
  
  .carousel-images {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    animation: rotate 12s infinite linear;
  }
  
  .carousel-item {
    position: absolute;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .carousel-item a {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    pointer-events: all; /* L'image reste cliquable */
  }
  
  .carousel-item:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
  }
  
  .carousel-item:nth-child(2) {
    transform: rotateY(90deg) translateZ(300px);
  }
  
  .carousel-item:nth-child(3) {
    transform: rotateY(180deg) translateZ(300px);
  }
  
  .carousel-item:nth-child(4) {
    transform: rotateY(270deg) translateZ(300px);
  }
  
  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
  footer {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555;
  }
  
  /* Navbar */
  .navbar {
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .navbar a:hover {
    background-color: #555;
  }
  
  .navbar .contact {
    background-color: blue;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .navbar .contact:hover {
    background-color: darkblue;
  }
  
  /* Contenu principal */
  .main-content {
    margin-top: 80px;
    text-align: center;
  }
  
  .main-content h1 {
    font-size: 2rem;
  }
  body {
    font-family: 'Roboto', sans-serif;
  }  

  /* Le footer prend la place de base et reste en bas */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto; /* Cette ligne fait que le footer reste en bas */
}

footer p {
    margin: 0;
    font-size: 1.2em;
}